@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:wght@500&display=swap');

/* does not add padding to an element from outside so that there is no horizontal scrolling*/
html {
    box-sizing: border-box; 
}

body {
    margin: 0;
    font-family: 'EB Garamond', serif;
}